	/*
  	Flaticon icon font: Flaticon
  	Creation date: 02/10/2017 15:22
  	*/

@font-face {
  font-family: "Flaticon";
  src: url("./Flaticon.eot");
  src: url("./Flaticon.eot?#iefix") format("embedded-opentype"),
       url("./Flaticon.woff") format("woff"),
       url("./Flaticon.ttf") format("truetype"),
       url("./Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("./Flaticon.svg#Flaticon") format("svg");
  }
}

[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {   
  font-family: Flaticon;
        font-size: 20px;
font-style: normal;
margin-left: 20px;
}

.flaticon-001-volunteer-19:before { content: "\f100"; }
.flaticon-002-volunteer-18:before { content: "\f101"; }
.flaticon-003-volunteer-17:before { content: "\f102"; }
.flaticon-004-volunteer-16:before { content: "\f103"; }
.flaticon-005-donation-3:before { content: "\f104"; }
.flaticon-006-volunteer-15:before { content: "\f105"; }
.flaticon-007-protester:before { content: "\f106"; }
.flaticon-008-volunteer-14:before { content: "\f107"; }
.flaticon-009-volunteer-13:before { content: "\f108"; }
.flaticon-010-volunteer-12:before { content: "\f109"; }
.flaticon-011-volunteer-11:before { content: "\f10a"; }
.flaticon-012-walking-the-dog:before { content: "\f10b"; }
.flaticon-013-babysitter:before { content: "\f10c"; }
.flaticon-014-volunteer-10:before { content: "\f10d"; }
.flaticon-015-volunteer-9:before { content: "\f10e"; }
.flaticon-016-demonstration:before { content: "\f10f"; }
.flaticon-017-volunteer-8:before { content: "\f110"; }
.flaticon-018-volunteer-7:before { content: "\f111"; }
.flaticon-019-donation-2:before { content: "\f112"; }
.flaticon-020-donation-1:before { content: "\f113"; }
.flaticon-021-volunteer-6:before { content: "\f114"; }
.flaticon-022-volunteer-5:before { content: "\f115"; }
.flaticon-023-blood-donation:before { content: "\f116"; }
.flaticon-024-donation:before { content: "\f117"; }
.flaticon-025-volunteer-4:before { content: "\f118"; }
.flaticon-026-volunteer-3:before { content: "\f119"; }
.flaticon-027-help:before { content: "\f11a"; }
.flaticon-028-volunteer-2:before { content: "\f11b"; }
.flaticon-029-volunteer-1:before { content: "\f11c"; }
.flaticon-030-volunteer:before { content: "\f11d"; }